{% extends 'base.html' %}

{% block content %}

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center px-3 px-md-0 bg-p">
        <div class="container d-flex align-items-center justify-content-between">

          <div class="logo">
            <h1><a href="{%  url 'index' %}">Sheila</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
          </div>

          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
              <li><a class="nav-link scrollto" href="#about">About</a></li>
              <li><a class="nav-link scrollto" href="#resume">Resume</a></li>
              <li><a class="nav-link scrollto" href="#services">Services</a></li>
              <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
              <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->

    <section id="hero" class="m-0 p-0 ">
        <div class="hero-back w-100 h-100 d-flex flex-column align-items-center justify-content-center ">
            <h1>Hi, I'm Sheila!</h1>
            <h2>I'm a {{ persona.speciality }}</h2>
            <a href="#about" class="btn-get-started scrollto"><i class="bi bi-chevron-double-down"></i></a>
        </div>
    </section><!-- End Hero -->


    <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about px-4 px-md-0 ">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p style="text-align: justify">{{ textDescript.description }}</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{{persona.img.url}}" class="img-fluid w-75 " alt="" style="height: 85%; width: 85%">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content ps-2 ">
            <h3>{{ persona.speciality }} Developer</h3>
            <p class="fst-italic">
              Personal information about me, for more information do not hesitate to contact me at my email or
                phone number
            </p>
            <div class="row mt-3">
              <div class="col-lg-6">
                <ul class="p-0">
                    <li class="li-about"> <strong>Birthday:</strong> {{persona.birthday}}</li>
                    <li class="li-about"> <strong>Phone:</strong> {{persona.phone}}</li>
                    <li class="li-about"> <strong>City:</strong> {{persona.city}}</li>
                    <li class="li-about"><strong>Email:</strong> {{email.link}}</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="p-0">
                    <li class="li-about"><strong>Degree:</strong> {{persona.degree}}</li>
                    <li class="li-about"><strong>Level:</strong> {{persona.level}}</li>
                    <li class="li-about">
                    <strong>Freelance:</strong>
                    {% if persona.freelance %}
                        Available
                    {% else %}
                        No Available
                    {% endif %}
                    </li>
                    <li class="li-about">
                    <strong>Remote:</strong>
                    {% if persona.remote %}
                    Available
                    {% else %}
                    No Available
                    {% endif %}
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg px-4 px-md-0">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
        </div>

        <div class="row skills-content justify-content-around">

          <div id="skill" class="ms-5 ms-md-0">
            {% for it in skills %}
               <div class="progress me-5">
                  <span class="skill">{{ it.name }} <i class="val">{{ it.percent }}%</i></span>
                  <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow={{ it.percent }} aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
               </div>
            {%  endfor %}
          </div>

        </div>
      </div>

    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume section-bg  px-2 px-md-0">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>
            Summary of studies, awards, years of experience</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
                <h4>Sheila Fundora </h4>
                <p>{{ sumary.description}}</p>
                <ul>
                  <li>{{ persona.city }}</li>
                  <li>{{persona.phone}}</li>
                  <li>{{ email.link}}</li>
                </ul>
            </div>

            <h3 class="resume-title">Projects</h3>
            {% for it in project %}
                <div class="resume-item pb-0">
                    <h4>{{ it.title }}</h4>
                    <h5>{{ it.date}}</h5>
                    <p><em>{{ it.description }}</em></p>
                    <ul>
                        {% for jt in projectTech %}
                            {% if it.id == jt.tech_id %}
                                <li>{{ jt.description }}</li>
                            {% endif %}
                        {% endfor  %}
                    </ul>
                </div>
            {% endfor %}

            <h3 class="resume-title">Professional Experience</h3>
            {% for it in experience %}
                <div class="resume-item">
              <h4>{{ it.ocupation}}</h4>
              <h6> {{ it.center}}</h6>
              <h5>{{ it.date}}</h5>
              <p><em>{{ it.title}}</em></p>
              <ul>
                  {% for jt in experienceDetails %}
                      {% if it.id == jt.experience_id %}
                        <li>{{ jt.description}}</li>
                      {% endif %}
                  {% endfor %}
              </ul>
            </div>
            {% endfor %}

          </div>

          <div class="col-lg-6">
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
                {% for it in education %}
                  <h4 class="mt-3">{{ it.school }}</h4>
                  <h5>{{ it.date }}</h5>
                    {%  if it.title != 'null' %}
                      <p><em>{{ it.title}}</em></p>
                    {% endif %}

                    {%  if it.title != 'null' %}
                       <ul>
                           {% for jt in educationsDetails %}
                                {% if it.id == jt.education_id %}
                                    <li>{{ jt.title }}</li>
                                {% endif %}
                           {% endfor %}
                      </ul>
                    {% endif %}

                    {%  if sizeAward > 0 %}
                    <p><em>Awards</em></p>
                    <ul>
                        {% for xt in awards %}
                            {% if it.id == xt.education_id %}
                                <li>{{ xt.awards }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}

    {#                  <p><em>Awards</em></p>#}
    {#                  <ul>#}
    {#                    <li>Member of the ICPC Caribbean Training Camp.</li>#}
    {#                    <li>ICPC Caribbean Finals( Qualifier ) - 16to Lugar en el Caribe (06/2021)</li>#}
    {#                    <li>ICPC Caribbean Finals - 13ro Lugar (07/2021)</li>#}
    {#                    <li>ICPC Caribbean Finals( Qualifier ) (03/2022)</li>#}
    {#                    <li>ICPC Caribbean Finals( Qualifier ) - 16to Lugar en el Caribe (03/2022)</li>#}
    {#                    <li>Classification for the 2022 regional</li>#}
    {#                    <li>3er lugar copa a nivel de facultad (2022)</li>#}
    {#                    <li>#}
    {#                      Numerous awards in the scientific conferences at the faculty level, passing several#}
    {#                      works at the university level with excellent results (higher level)#}
    {#                    </li>#}
    {#                    <li>Awards in history forums, including the work "History of the ACM-ICPC in CUBA",#}
    {#                      obtaining relevance at the faculty and university level.</li>#}
    {#                  </ul>#}
                {% endfor %}
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg px-3 px-md-0">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
        </div>


           <div class="row">
            {%  for it in services %}
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bx {{ it.icono }}"></i></div>
                        <h4 class="title"><a href="">{{ it.title}}</a></h4>
                        <p class="description">{{ it.description}}</p>
                    </div>
                </div>
                {% endfor %}
          </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg px-3 px-md-0">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
                {% for it in categories %}
                    <li data-filter=".filter-{{ it.category }}">{{ it.category }}</li>
                {% endfor %}
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">
            {% for it in portafolio %}
              <div class="col-lg-4 ol-md-6 portfolio-item filter-{{ it.category }} b" >
             <div class="portfolio-wrap mb-3 border-portafolio">
              <img src="{{it.img.url}}" class="img-fluid" alt="" style="min-height: 200px">
              <div class="portfolio-info">
                <h4>{{it.name}}</h4>
                <p>{{ it.category }}</p>
              </div>
              <div class="portfolio-links">
                <a href="{{it.img.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title={{it.name}}><i class="bx bx-plus"></i></a>
                <a href="portfolio_detail/{{ it.id }}" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg px-2 px-md-0">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row justify-content-between flex-wrap">

          <div class="col-lg-4 col-md-4">
            <div class="contact-about">
              <h3>Sheila</h3>
                <p>
                I am a dedicated person in all aspects of my life, committed to professional training,
                seeking to acquire everything necessary to excel professionally.
                </p>
              <div class="social-links" >
                <a href="{{ twitter.link }}" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="{{ facebook.link }}" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="{{ instagram.link }}" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="{{ linkdin.link }}" class="linkedin"><i class="bi bi-linkedin"></i></a>
                <a href="{{ github.link }}" class="linkedin"><i class="bi bi-github"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 mt-3 mt-md-0">
            <div class="info">
              <div class="d-flex align-items-center">
                <i class="bi bi-geo-alt"></i>
                <p>{{ persona.city}}</p>
              </div>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-envelope"></i>
                <p>{{ email.link}}</p>
              </div>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-phone"></i>
                <p>{{ persona.phone}}</p>
              </div>

            </div>
          </div>

          <div class="col-lg-3 col-md-4 d-none d-md-block">
            <div class="contact-about">
              <h4 style="font-weight: bold" class="text-secondary">Create your resume free</h4>
              <ul class="ps-1">
                  <li style="list-style-type: none"><a href="http://app.flowcv.com">app.flowcv.com</a> </li>
                  <li style="list-style-type: none"><a href="http://novoresume.com">novoresume.com</a> </li>
                  <li style="list-style-type: none"><a href="https://jobiblo.com/en/l/cv?gclid=Cj0KCQiAutyfBhCMARIsAMgcRJRXbCY6RQwml6HzCqC1jMkCimEjJUYJLWyTU2behrdo5s0ts2x_4K8aAqS6EALw_wcB">jobiblo.com</a> </li>
              </div>
            </div>
          </div>


    </div>
  </div>


        </div>
      </div>
    </section><!-- End Contact Section -->

    </main>

{% endblock %}
