{% extends 'base.html' %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container-fluid px-5">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
          <ol>
            <li><a href={% url 'index' %}>Home</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container-fluid px-5">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">

              <div class="swiper-wrapper align-items-center mt-4">
                <div class="swiper-slide">
                    <img src="{{ portafolio.img.url}}" alt="" >
                </div>
                {%  for it in img %}
                    <div class="swiper-slide">
                        <img src="{{ it.img.url}}" alt="" >
                    </div>
                {% endfor %}

              </div>

              <div class="swiper-pagination"></div>

             {% if portafolio.link != '' %}
                    <li><strong>Project URL</strong>: <br>
                        <pre><a href="https://{{ portafolio.link }}" class="text-break">{{ portafolio.link }}</a></pre>
                    </li>
                {% endif %}
            </div>
          </div>

          <div class="col-lg-3 ms-0 ms-md-5">
            <div class="portfolio-info px-4 pt-3 pb-1">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: {{ portafolio.category}} </li>
                <li><strong>Client</strong>: {{ portafolio.client}}</li>
                <li><strong>Project date</strong>: {{ portafolio.date}}</li>
                <li>
                    <strong style="text-decoration: underline">Used technology</strong>:
                    <div class="mt-2 ">{{ portafolio.tech }}</div>
                </li>
              </ul>
            </div>
            <div class="portfolio-description ms-4">
              <h2 style="text-decoration: underline">{{ portafolio.name}}</h2>

              {% if portafolio.description != 'null' %}
                <p style="text-align: justify"> {{ portafolio.description }}</p>
              {% endif %}
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

{% endblock %}
